groups:
  - name: container.rules
    rules:
      - alert: ContainerHighCPU
        expr: rate(container_cpu_usage_seconds_total{container_label_com_docker_swarm_service_name!=""}[2m]) * 100 > 80
        for: 2m
        labels:
          severity: critical
        annotations:
          summary: "Container high CPU usage ({{ $labels.container_label_io_kubernetes_container_name }} / {{ $labels.container_label_com_docker_swarm_service_name }})"
          description: "CPU > 80% for more than 2 minutes."

      - alert: ContainerHighMemory
        expr: (container_memory_usage_bytes{container_label_com_docker_swarm_service_name!=""}) / container_spec_memory_limit_bytes{container_label_com_docker_swarm_service_name!=""} * 100 > 80
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "Container high Memory usage"
          description: "Memory > 80% for more than 2 minutes."
